body {
    display: flex;
    justify-content: center;
}

.container {
    display: inline-flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    height: 743px;
    width: 376px;
}

#iphone {
    background: rgb(0, 0, 0);
    border-radius: 54px;
    box-shadow: inset 0 0 4px 6px rgb(47, 46, 46), inset 0 0 2px 6px #d6d6d6, inset 0px 0px 2px 12px rgba(21, 21, 22, 0.8), inset 0px 0px 3px 14px #bab7b7, -2px 0px 15px 1.5px #494949;
    height: 715px;
    width: 368px;
    z-index: 1;
}

.apps,
.bApps {
    cursor: url('./assets/hand.png'), auto;
}

#Screen {
    background-image: url("./assets/wallpaper.iphone.jpg");
    /* background-image: url("blue.sky.jpg"); */
    background-size: cover;
    border: 10px solid rgb(20, 20, 20);
    border-radius: 40px;
    margin-top: 18px;
    margin-left: 15px;
    width: 318.5px;
    height: 665px;
    margin-top: 15px;
}

#top {
    color: aliceblue;
    text-align: center;
    width: 100%;
    height: 200px;
}

#city {
    font-family: 'Arial';
    font-weight: normal;
    font-size: 35px;
    margin-bottom: 0;
}

#temp {
    font-family: 'Arial';
    font-weight: 100;
    font-size: 100px;
}

#top>p {
    margin-top: 0;
    font-family: 'Arial';
    font-weight: normal;
    font-size: 20px;
}

#mid {
    border: 1px solid transparent;
    background-color: #65b4f7;
    margin: 60px 0px 0px 8px;
    border-radius: 14px;
    height: 170px;
    width: 300px;
}

#mid>p {
    margin: 7px 0px 0px 13px;
    font-family: 'Arial';
    color: white;
}

hr {
    background-color: rgb(131, 196, 216);
    border: 0.05px solid transparent;
    height: 0.05px;
    width: 285px;
}

input {
    background-color: rgb(234, 245, 255);
    border: 1px solid transparent;
}

#Top {
    height: 500px;
}

#Nav {
    display: inline-flex;
    margin-top: 9.4px;
    width: 100%;
    height: 50px;
}

#Nav>img {
    width: 18px;
    height: 20px;
}

.Time {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 27px;
    font-size: 14px;
    margin-top: 0px;
    color: white;
}

#notify {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid rgb(20, 20, 20);
    background-color: rgb(20, 20, 20);
    margin: -10px 0px 0px 7.5px;
    width: 175px;
    height: 23px;
}

.left-pie {
    position: absolute;
    overflow: hidden;
    height: 8px;
    width: 8px;
    left: 92px;
    transform: rotate(90deg);
}

.right-pie {
    position: absolute;
    overflow: hidden;
    height: 8px;
    width: 8px;
    right: 93px;
    transform: rotate(0deg);
}

.left-pie::after,
.right-pie::after {
    content: ' ';
    position: absolute;
    left: 0%;
    top: 0%;
    box-shadow: 0 0 0 8px rgb(20, 20, 20);
    height: 200%;
    width: 200%;
    border-radius: 50%;
}

.speaker {
    height: 6px;
    width: 40px;
    margin: 2px 0 0 60px;
    border-radius: 6px;
    border-left: 1px solid rgba(200, 195, 195, 0.66);
    border-right: 1px solid rgba(200, 195, 195, 0.66);
    border-bottom: 1px solid #333;
    background-color: #222;
    z-index: 100;
}

.camera {
    height: 7px;
    width: 7px;
    margin: -8px 0 0 110px;
    border-radius: 50%;
    border-bottom: 1px solid #444;
    background: radial-gradient(black, #333);
    opacity: 0.8;
    z-index: 4;
}

.shine {
    position: absolute;
    height: 7px;
    width: 7px;
    margin: 2px;
    border-left: 4px solid white;
    border-right: transparent;
    background-color: black;
    border-radius: 50%;
    filter: blur(1.2px);
}

.shine:before {
    content: '';
    position: absolute;
    right: 0px;
    height: 7px;
    width: 7px;
    border-right: 2px solid white;
    border-radius: 4px;
}

#sgnl {
    margin-left: 5px;
}

/******************** APPS ********************/
.app-row {
    margin-bottom: 30px;
}

.apps {
    margin-left: 22px;
    background-size: contain;
    display: inline-block;
    border-radius: 11px;
    height: 49px;
    width: 49px;
}

.apps:hover {
    transform: scale(0.95);
}

#Mail {
    background-image: url("./assets/Mail.png");
}

#Photos {
    background-image: url("./assets/photos.jpg");
}

#Clockk {
    background-image: url("./assets/clock1.jpg");
}

#Notes {
    background-image: url("./assets/Notes.png");
}

#Camera {
    background-image: url("./assets/camera.jpeg");
}

#Files {
    background-image: url("./assets/Files.jpg");
}

#Music {
    background-image: url("./assets/Music.png");
}

#weather {
    background-image: url("./assets/weather.app.icon.png");
}

#Calendar {
    background-color: white;
    text-align: center;
    justify-content: center;
    display: grid;
}

#day {
    font-family: sans-serif;
    font-size: 12px;
    color: red;
    text-transform: uppercase;
    margin-top: 4px;
}

#daynm {
    font-family: cursive;
    font-weight: 300;
    font-size: 23px;
    margin-top: -2px;
}

/********************...********************/


/******************** BOTTOM APPS ********************/
#bottom {
    background-color: rgba(247, 237, 237, 0.441);
    border-radius: 23px;
    width: 300px;
    height: 80px;
    margin: 17px 0 0 9px;
}

.bApps {
    margin: 14px 0px 0px 14px;
    background-size: contain;
    display: inline-block;
    border-radius: 11px;
    height: 49px;
    width: 49px;
}

.bApps:hover {
    transform: scale(0.95);
}

#call {
    background-image: url("./assets/Phone.jpg");
    margin: 14px 0px 0px 14px;
}

#messages {
    background-image: url("./assets/messages.png");
    margin: 14px 0px 0px 19px;
}

#settings {
    background-image: url("./assets/settings.png");
    margin: 14px 0px 0px 19px;
}

#safari {
    background-image: url("./assets/safari.png");
    margin: 14px 0px 0px 19px;
}

/********************...********************/



#srch {
    width: 15px;
    height: 15px;
    position: absolute;
    display: inline-block;
    margin: 8px 0px 0px 208px;
}

#search {
    width: 200px;
    height: 20px;
    margin: 5px 0px 0px 20px;
    border-radius: 3px;
}

.container #line::after,
.container #line::before {
    content: "";
    position: absolute;
    border: solid rgb(40, 35, 35);
    border-width: 0 7px;
    height: 7px;
    left: 4px;
    width: 354px;
    z-index: 9;
}

.container #line::after {
    top: 78px;
}

.container #line::before {
    bottom: 120px;
}

#power-button {
    background: #323229;
    height: 80px;
    right: 2px;
    position: absolute;
    top: 160px;
    width: 6px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.container #volume-button {
    background: #323229;
    height: 26px;
    left: 1px;
    position: absolute;
    top: 105px;
    width: 5px;
}

.container #volume-button,
.container #volume-button-up,
.container #volume-button-down {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: inset 0 0 1px 1px grey, inset 0 0 1px 1px rgb(14, 14, 14);
}

.container #volume-button-up,
.container #volume-button-down {
    content: "";
    position: absolute;
    background: #323229;
    height: 50px;
    left: 1px;
    width: 6px;
}

.container #volume-button-up {
    top: 150px;
}

.container #volume-button-down {
    top: 215px;
}